.bg-cy {
  background-color: #becb01 !important;
}

.bg-cy-deep {
  background-color: #4f5228 !important;
}

.shadow {
  box-shadow: 5px 5px 12px #888 !important;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
